.idea/
__pycache__/
models/unet/__pycache__/
input/
models/oxford/logs/
models/oxford/saved_model/
models/unet/16_ckpt/
models/unet/64_ckpt/
models/unet/ckpt/
models/unet/logs/
models/unet2/logs/
models/unet2/ckpt/
data/
models/unet_wsl/ckpt/
models/unet_wsl/logs/
models/unet_wsl/output/

models/segnet/ckpt/
models/segnet/logs/
models/segnet/output/

models/unet_ResNet50/ckpt/
models/unet_ResNet50/logs/
models/unet_ResNet50/output/

models/segnet_VGG16/ckpt/
models/segnet_VGG16/logs/
models/segnet_VGG16/output/

models/unet_plus_plus/ckpt/
models/unet_plus_plus/logs/
models/unet_plus_plus/output/

models/unet_lama/ckpt/
models/unet_lama/logs/
models/unet_lama/output/

models/unet_ffc/ckpt/
models/unet_ffc/logs/
models/unet_ffc/output/

models/deeplabv3_plus/ckpt/
models/deeplabv3_plus/logs/
models/deeplabv3_plus/output/

models/unet_MobileNetV2/ckpt/
models/unet_MobileNetV2/logs/
models/unet_MobileNetV2/output/

models/unet_VGG16/ckpt/
models/unet_VGG16/logs/
models/unet_VGG16/output/

models/res_unet_plus_plus/ckpt/
models/res_unet_plus_plus/logs/
models/res_unet_plus_plus/output/
