.idea/
__pycache__/
models/unet/__pycache__/
input/
models/oxford/logs/
models/oxford/saved_model/
models/unet/16_ckpt/
models/unet/64_ckpt/
models/unet/ckpt/
models/unet/logs/
models/unet2/logs/
models/unet2/ckpt/
data/
models/wsl/ckpt/
models/wsl/logs/
models/wsl/output/

models/segnet/ckpt/
models/segnet/logs/
models/segnet/output/

models/unet_MobileNetV2/ckpt/
models/unet_MobileNetV2/logs/
models/unet_MobileNetV2/output/

